.fondo{
    background-color: #ccc;
    height: 100vh;
}

.LogoWindows{
    height: 40px;
    width: auto;
}

.tifundamentales{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.pdfview{
    margin: auto;
    display: block;
    width: 850px;
    height: 85vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}